@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, p, blockquote, th, td, form {
    margin: 0;
    padding: 0;
}
.fco-gdpr-box {
    height: 80px;
    background: #1e2a39;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    overflow-x: auto;
}

.fco-gdpr-text {
    min-width: 1000px;
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

.fco-gdpr-text table {
    height: 80px;
}

.fco-gdpr-btn {
    /*float: right;*/
    width: 140px;
    height: 40px;
    background: #1e2a39;
    box-sizing: border-box;
    border: 2px solid #169bd5;
    border-radius: 10px;
    line-height: 38px;
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
}

.fco-gdpr-text-left {
    color: #f2f2f2;
    width: 740px;
    word-break: normal !important;
    word-wrap: break-word;
}

.fco-gdpr-text-left a {
    color: #169bd5;
}

/*熊哥组特殊处理*/
.fco-gdpr-tpl-box {
    height: 362px;
    background: #1e2a39;
    width: 608px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    z-index: 5000;
}

.fco-gdpr-tpl-text {
    margin: 0 auto;
    width: 542px;
    position: relative;
}

.fco-gdpr-tpl-text table {
    height: 362px;
}

.fco-gdpr-tpl-btn {
    /*float: right;*/
    width: 140px;
    height: 40px;
    background: #293442;
    box-sizing: border-box;
    border: 2px solid #169bd5;
    border-radius: 10px;
    line-height: 38px;
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.fco-gdpr-text-tpl-left {
    color: #f2f2f2;
    width: 560px;
    word-break: normal;
    word-wrap: break-word;
}

.fco-gdpr-text-tpl-left p{
    text-align: left;
}
.fco-gdpr-text-tpl-left a {
    color: #169bd5;
}
/*H5*/
#fco-gdpr{
    font-size: 20px;
}
.fco-gdpr-wap-box {
    /*height: .8rem;*/
    background: rgba(30, 42, 57, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 3vw;
    padding: 3vw 0 3vw 3vw;
}

.fco-gdpr-wap-text {
    width: 97vw;
    line-height: 8vw;
    position: relative;
    font-size: 3.6vw;
}
.fco-gdpr-wap-btn {
    /*float: right;*/
    width: 20vw;
    height: 8vw;
    box-sizing: border-box;
    border-radius: 1.5vw;
    line-height: 8vw;
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 3vw;
    top: 50%;
    margin-top: -4vw;
    font-size: 3.8vw;
    background: #169bd5;
}

.fco-gdpr-wap-text-left {
    display: inline-block;
    vertical-align: middle;
    line-height: 4.6vw;
    color: #f2f2f2;
    width: 70vw;
}

.fco-gdpr-wap-text-left a {
    color: rgba(22, 155, 213, 1);
}
